.vector {
  height: 150px;
  width: 150px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.root {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center !important;
  overflow: hidden;
  align-items: center;
}

.text1 {
  text-align: center;
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  margin-bottom: -3px;
  color: #efc81a;
}

.text2 {
  text-align: center;
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  /* margin-bottom: 35px; */
  color: #c4c4c4;
}

.text3 {
  text-align: center;
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: -20px;
  color: #c4c4c4;
}

.formforgotPassword {
  text-align: right;

  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #999999;
}

.buttonResetPassword {
  width: 319px;
  height: 50px;
  left: 28px;
  top: 540px;

  border: none;
  background: #efc81a;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 70px;
}
