.root {
  background-color: #ffffff;
  min-height: 100vh;
  justify-content: center !important;
  overflow: hidden;
  align-items: center;
}

.bg {
  width: 390px;
  height: 340px;
  left: -1px;
  top: 0px;

  background: #eec302;
  margin-bottom: auto;
  margin-top: -45px;
}

.bg2 {
  width: 360px;
  height: 512px;
  left: 7px;
  top: 266px;
  background: #ffffff;
  box-shadow: 0px -20px 20px rgb(0 0 0 / 7%);
  border-radius: 30px 30px 0px 0px;
  margin-left: 15px;
  margin-top: 85px;
  position: static;
}

.textProfile {
  /* width: 115px;
height: 21px;
left: 130px;
top: 194px; */

  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.profile {
  height: 150px;
  width: 150px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  border-radius: 100% !important;
  margin-bottom: 20px;
  margin-left: 115px;
  margin-top: 45px;
}

.editProfile {
  height: 16px;
  left: 12.19%;
  right: 66.25%;
  top: calc(50% - 16px / 2);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 70px;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.7);
}

.shape {
  display: flex;
  justify-content: right;
  margin-top: -15px;
  margin-left: -29px;
  margin-right: 30px;
}
