.vector {
    height: 150px;
    width: 150px;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  
  .root {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center !important;
    overflow: hidden;
    align-items: center;
  }

  .formPassword {
    width: 319px;
    height: 50px;
    left: 28px;
    top: 465px;
  
    background: #ffffff;
    border-radius: 10px;
  }
  
  .formNewPassword {
    width: 319px;
    height: 50px;
    left: 28px;
    top: 545px;
  
    background: #ffffff;
    border-radius: 10px;
  }

.buttonResetPassword {
    width: 319px;
    height: 50px;
    left: 28px;
    top: 540px;
  
    border: none;
    background: #efc81a;
    border-radius: 10px;
    color: #ffffff;
    margin-bottom: 70px;
  }